
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">
      <%= @friend.firts_name %>
      <%= @friend.last_name %>
    </h5>
    <p class="card-text">
      <%= @friend.email %> 
      <%= @friend.phone %>
      <%= @friend.facebook %>
    </p>
    <br>
    <%= link_to 'Edit', edit_friend_path(@friend), class:"btn btn-success" %> 
    <%= link_to 'Delete', @friend, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger" %> 
    <%= link_to 'Back', friends_path, class:"btn btn-danger" %>
  </div>
</div>


